In [4]:
pwd

'C:\\Users\\Anil\\OneDrive\\Desktop\\AnujAdhoc\\regionwise_all_keywords\\code'

In [8]:
import pandas as pd
keywords = pd.read_csv('keywords_new.csv',header=None,names=['A'])
#us_states = us_states.to_dict(orient="list")
key = []
for i in (keywords['A']):
    key.append(i)
key

['Atlanta vacation',
 'Austin vacation',
 'Baltimore vacation',
 'Boston vacation',
 'Charlotte vacation',
 'Chicago vacation',
 'Dallas vacation',
 'Denver vacation',
 'Detroit vacation',
 'Fort Lauderdale vacation',
 'Houston vacation',
 'Las Vegas vacation',
 'Los Angeles vacation',
 'Miami vacation',
 'Minneapolis vacation',
 'Nashville vacation',
 'New York vacation',
 'Newark vacation',
 'Orlando vacation',
 'Philadelphia vacation',
 'Phoenix vacation',
 'Portland vacation',
 'Salt Lake City vacation',
 'San Diego vacation',
 'San Francisco vacation',
 'Seattle vacation',
 'St. Louis vacation',
 'Tampa vacation',
 'Washington vacation',
 'flights to Atlanta',
 'flights to Austin',
 'flights to Baltimore',
 'flights to Boston',
 'flights to Charlotte',
 'flights to Chicago',
 'flights to Dallas',
 'flights to Denver',
 'flights to Detroit',
 'flights to Fort Lauderdale',
 'flights to Houston',
 'flights to Las Vegas',
 'flights to Los Angeles',
 'flights to Miami',
 'flights to Minneapolis',
 'flights to Nashville',
 'flights to New York',
 'flights to Newark',
 'flights to Orlando',
 'flights to Philadelphia',
 'flights to Phoenix',
 'flights to Portland',
 'flights to Salt Lake City',
 'flights to San Diego',
 'flights to San Francisco',
 'flights to Seattle',
 'flights to St. Louis',
 'flights to Tampa',
 'flights to Washington',
 'hotels in Atlanta',
 'hotels in Austin',
 'hotels in Baltimore',
 'hotels in Boston',
 'hotels in Charlotte',
 'hotels in Chicago',
 'hotels in Dallas',
 'hotels in Denver',
 'hotels in Detroit',
 'hotels in Fort Lauderdale',
 'hotels in Houston',
 'hotels in Las Vegas',
 'hotels in Los Angeles',
 'hotels in Miami',
 'hotels in Minneapolis',
 'hotels in Nashville',
 'hotels in New York',
 'hotels in Newark',
 'hotels in Orlando',
 'hotels in Philadelphia',
 'hotels in Phoenix',
 'hotels in Portland',
 'hotels in Salt Lake City',
 'hotels in San Diego',
 'hotels in San Francisco',
 'hotels in Seattle',
 'hotels in St. Louis',
 'hotels in Tampa',
 'hotels in Washington',
 'road trip to Atlanta',
 'road trip to Austin',
 'road trip to Baltimore',
 'road trip to Boston',
 'road trip to Charlotte',
 'road trip to Chicago',
 'road trip to Dallas',
 'road trip to Denver',
 'road trip to Detroit',
 'road trip to Fort Lauderdale',
 'road trip to Houston',
 'road trip to Las Vegas',
 'road trip to Los Angeles',
 'road trip to Miami',
 'road trip to Minneapolis',
 'road trip to Nashville',
 'road trip to New York',
 'road trip to Orlando',
 'road trip to Philadelphia',
 'road trip to Phoenix',
 'road trip to Portland',
 'road trip to Salt Lake City',
 'road trip to San Diego',
 'road trip to San Francisco',
 'road trip to Seattle',
 'road trip to St. Louis',
 'road trip to Tampa',
 'road trip to Washington']

In [38]:
len(key)

115

In [39]:
key1 = key[0:29]
key2 = key[29:58]
key3 = key[58:87]
key4 = key[87:]

In [61]:
######### All states key words with monthly time ##################

from datetime import date,timedelta,datetime
from dateutil.relativedelta import relativedelta
import pandas as pd                        
from pytrends.request import TrendReq
import os

pytrend = TrendReq(hl='en-US', geo='US', tz=360)
##### X would be custom time range for each month JAN FEB MAR APRIL ###############

x = ['2020-01-01 2020-01-31','2020-02-01 2020-02-29','2020-03-01 2020-03-31',
     '2020-04-01 2020-04-30','2020-05-01 2020-05-28']

###################################################################################

##############keep changing key1,key2,key3,key4 in below for loops for complete data##################

test = 0
for j in x:
    pytrend = TrendReq()    
    pytrend = TrendReq(hl='en-US',geo = 'US', tz=360)
    print("Data Gathering for date : ",j," Done - ",test,"days")
    for i in range(0,len(key4)):
        pytrend.build_payload(
            kw_list=[key4[i]],
            cat=67,
            timeframe= j,
            geo='US',
            gprop='')
        data = pytrend.interest_by_region()
        data = data.reset_index()
        print("pulled for ",i," ",key4[i])
        if i == 0:
            data1 = data
        else:
            data1 = pd.merge(data1, data, on='geoName')
    data1['date'] = str(j)
    if test == 0:
        data2 = data1
    else:
        data2 = data2.append(data1)
    test += 1

print("---------Completed------------")
###############################
# Write file to folder
###############################
#data2.to_csv('C:\\Users\\Anil\\OneDrive\\Desktop\\AnujAdhoc\\region_new_keywords_2020.csv')

Data Gathering for date :  2020-01-01 2020-01-31  Done -  0 days
pulled for  0   road trip to Atlanta
pulled for  1   road trip to Austin
pulled for  2   road trip to Baltimore
pulled for  3   road trip to Boston
pulled for  4   road trip to Charlotte
pulled for  5   road trip to Chicago
pulled for  6   road trip to Dallas
pulled for  7   road trip to Denver
pulled for  8   road trip to Detroit
pulled for  9   road trip to Fort Lauderdale
pulled for  10   road trip to Houston
pulled for  11   road trip to Las Vegas
pulled for  12   road trip to Los Angeles
pulled for  13   road trip to Miami
pulled for  14   road trip to Minneapolis
pulled for  15   road trip to Nashville
pulled for  16   road trip to New York
pulled for  17   road trip to Orlando
pulled for  18   road trip to Philadelphia
pulled for  19   road trip to Phoenix
pulled for  20   road trip to Portland
pulled for  21   road trip to Salt Lake City
pulled for  22   road trip to San Diego
pulled for  23   road trip to San Francisco
pulled for  24   road trip to Seattle
pulled for  25   road trip to St. Louis
pulled for  26   road trip to Tampa
pulled for  27   road trip to Washington
Data Gathering for date :  2020-02-01 2020-02-29  Done -  1 days
pulled for  0   road trip to Atlanta
pulled for  1   road trip to Austin
pulled for  2   road trip to Baltimore
pulled for  3   road trip to Boston
pulled for  4   road trip to Charlotte
pulled for  5   road trip to Chicago
pulled for  6   road trip to Dallas
pulled for  7   road trip to Denver
pulled for  8   road trip to Detroit
pulled for  9   road trip to Fort Lauderdale
pulled for  10   road trip to Houston
pulled for  11   road trip to Las Vegas
pulled for  12   road trip to Los Angeles
pulled for  13   road trip to Miami
pulled for  14   road trip to Minneapolis
pulled for  15   road trip to Nashville
pulled for  16   road trip to New York
pulled for  17   road trip to Orlando
pulled for  18   road trip to Philadelphia
pulled for  19   road trip to Phoenix
pulled for  20   road trip to Portland
pulled for  21   road trip to Salt Lake City
pulled for  22   road trip to San Diego
pulled for  23   road trip to San Francisco
pulled for  24   road trip to Seattle
pulled for  25   road trip to St. Louis
pulled for  26   road trip to Tampa
pulled for  27   road trip to Washington
Data Gathering for date :  2020-03-01 2020-03-31  Done -  2 days
pulled for  0   road trip to Atlanta
pulled for  1   road trip to Austin
pulled for  2   road trip to Baltimore
pulled for  3   road trip to Boston
pulled for  4   road trip to Charlotte
pulled for  5   road trip to Chicago
pulled for  6   road trip to Dallas
pulled for  7   road trip to Denver
pulled for  8   road trip to Detroit
pulled for  9   road trip to Fort Lauderdale
pulled for  10   road trip to Houston
pulled for  11   road trip to Las Vegas
pulled for  12   road trip to Los Angeles
pulled for  13   road trip to Miami
pulled for  14   road trip to Minneapolis
pulled for  15   road trip to Nashville
pulled for  16   road trip to New York
pulled for  17   road trip to Orlando
pulled for  18   road trip to Philadelphia
pulled for  19   road trip to Phoenix
pulled for  20   road trip to Portland
pulled for  21   road trip to Salt Lake City
pulled for  22   road trip to San Diego
pulled for  23   road trip to San Francisco
pulled for  24   road trip to Seattle
pulled for  25   road trip to St. Louis
pulled for  26   road trip to Tampa
pulled for  27   road trip to Washington
Data Gathering for date :  2020-04-01 2020-04-30  Done -  3 days
pulled for  0   road trip to Atlanta
pulled for  1   road trip to Austin
pulled for  2   road trip to Baltimore
pulled for  3   road trip to Boston
pulled for  4   road trip to Charlotte
pulled for  5   road trip to Chicago
pulled for  6   road trip to Dallas
pulled for  7   road trip to Denver
pulled for  8   road trip to Detroit
pulled for  9   road trip to Fort Lauderdale
pulled for  10   road trip to Houston
pulled for  11   road trip to Las Vegas
pulled for  12   road trip to Los Angeles
pulled for  13   road trip to Miami
pulled for  14   road trip to Minneapolis
pulled for  15   road trip to Nashville
pulled for  16   road trip to New York
pulled for  17   road trip to Orlando
pulled for  18   road trip to Philadelphia
pulled for  19   road trip to Phoenix
pulled for  20   road trip to Portland
pulled for  21   road trip to Salt Lake City
pulled for  22   road trip to San Diego
pulled for  23   road trip to San Francisco
pulled for  24   road trip to Seattle
pulled for  25   road trip to St. Louis
pulled for  26   road trip to Tampa
pulled for  27   road trip to Washington
Data Gathering for date :  2020-05-01 2020-05-28  Done -  4 days
pulled for  0   road trip to Atlanta
pulled for  1   road trip to Austin
pulled for  2   road trip to Baltimore
pulled for  3   road trip to Boston
pulled for  4   road trip to Charlotte
pulled for  5   road trip to Chicago
pulled for  6   road trip to Dallas
pulled for  7   road trip to Denver
pulled for  8   road trip to Detroit
pulled for  9   road trip to Fort Lauderdale
pulled for  10   road trip to Houston
pulled for  11   road trip to Las Vegas
pulled for  12   road trip to Los Angeles
pulled for  13   road trip to Miami
pulled for  14   road trip to Minneapolis
pulled for  15   road trip to Nashville
pulled for  16   road trip to New York
pulled for  17   road trip to Orlando
pulled for  18   road trip to Philadelphia
pulled for  19   road trip to Phoenix
pulled for  20   road trip to Portland
pulled for  21   road trip to Salt Lake City
pulled for  22   road trip to San Diego
pulled for  23   road trip to San Francisco
pulled for  24   road trip to Seattle
pulled for  25   road trip to St. Louis
pulled for  26   road trip to Tampa
pulled for  27   road trip to Washington
---------Completed------------

In [62]:
data_rt = data2.copy()

In [65]:
data_hotels

,geoName,hotels in Atlanta,hotels in Austin,hotels in Baltimore,hotels in Boston,hotels in Charlotte,hotels in Chicago,hotels in Dallas,hotels in Denver,hotels in Detroit,...,hotels in Phoenix,hotels in Portland,hotels in Salt Lake City,hotels in San Diego,hotels in San Francisco,hotels in Seattle,hotels in St. Louis,hotels in Tampa,hotels in Washington,date
0,Alabama,46,15,0,0,14,8,21,4,0,...,0,0,0,0,28,12,0,55,15,2020-01-01 2020-01-31
1,Alaska,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,100,0,0,100,2020-01-01 2020-01-31
2,Arizona,0,9,0,0,0,5,13,3,0,...,100,5,0,77,35,15,0,0,4,2020-01-01 2020-01-31
3,Arkansas,17,0,0,11,0,0,98,7,0,...,0,0,0,60,0,0,0,0,22,2020-01-01 2020-01-31
4,California,2,7,3,1,1,3,4,1,1,...,5,2,2,100,67,5,0,3,4,2020-01-01 2020-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,12,11,7,0,15,8,15,0,0,...,0,8,0,10,39,6,60,26,17,2020-05-01 2020-05-28
47,Washington,10,13,0,0,0,9,0,6,0,...,21,43,11,14,47,38,0,31,53,2020-05-01 2020-05-28
48,West Virginia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,30,2020-05-01 2020-05-28
49,Wisconsin,14,19,0,10,0,13,0,8,0,...,0,0,0,8,0,0,0,88,7,2020-05-01 2020-05-28
50,Wyoming,0,0,0,0,0,0,0,100,0,...,0,0,100,0,0,0,0,0,0,2020-05-01 2020-05-28

In [ ]:
########## Already stored by running the code ###############
data_vacation,data_flights,data_hotels,data_rt

In [66]:
############## Merge All #################
data = pd.merge(data_vacation,data_flights, on = ['geoName','date'])
data = pd.merge(data,data_hotels, on = ['geoName','date'])
data = pd.merge(data,data_rt, on = ['geoName','date'])

In [67]:
data

,geoName,Atlanta vacation,Austin vacation,Baltimore vacation,Boston vacation,Charlotte vacation,Chicago vacation,Dallas vacation,Denver vacation,Detroit vacation,...,road trip to Philadelphia,road trip to Phoenix,road trip to Portland,road trip to Salt Lake City,road trip to San Diego,road trip to San Francisco,road trip to Seattle,road trip to St. Louis,road trip to Tampa,road trip to Washington
0,Alabama,39,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Alaska,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Arizona,0,0,0,0,0,0,0,0,0,...,0,100,0,0,0,0,0,0,0,0
3,Arkansas,0,0,0,0,0,0,100,0,0,...,0,0,0,0,0,0,0,0,0,0
4,California,8,7,0,2,0,1,6,1,4,...,0,37,18,0,100,96,22,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Virginia,0,40,0,0,29,26,0,0,0,...,0,0,0,0,0,0,0,0,0,31
251,Washington,0,0,0,0,0,0,0,0,0,...,0,0,54,0,0,100,100,0,0,100
252,West Virginia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,Wisconsin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254,Wyoming,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
data.to_csv('C:\\Users\\Anil\\OneDrive\\Desktop\\AnujAdhoc\\region_keywords_v4_2020.csv')